{% comment %}
  Title: ComicHive Newsletter Section
  Description: A section used on various pages for newsletter announcement
{% endcomment %}

{% style %}
{% endstyle %}

<div class="w-full bg-[#FC582D]">
  <section class="page-width flex justify-between items-center max-lg:flex-col max-lg:gap-[40px] max-lg:!pb-[60px]">
    <img
      src="{{ section.settings.news_image | image_url: width: 1000 }}"
      alt="{{ section.settings.news_title }}"
      width="1000"
      height="1000"
      loading="lazy"
      class="h-[100vh] max-h-[380px] max-sm:max-h-[280px] w-auto pt-[20px] max-lg:mt-[40px]"
    >

    <div class="flex flex-col items-end gap-[30px] lg:gap-[40px] max-w-[450px] text-white">
      <h1 class="!text-white text-right">{{ section.settings.news_title }}</h1>

      <div class="text-right"> 
        {{ section.settings.news_description }}
      </div>

      {% render 'comichive-button',
        text: section.settings.news_primarybt_text,
        link: section.settings.news_primarybt_url,
        type: 'primary',
        background: 'light'
      %}
    </div>
  </section>
</div>

{% schema %}
{
  "name": "ComicHive Newsletter",
  "settings": [
    {
      "type": "text",
      "id": "news_title",
      "label": "News Section Title"
    },
    {
      "type": "richtext",
      "id": "news_description",
      "label": "News Section Description"
    },
    {
      "type": "image_picker",
      "id": "news_image",
      "label": "News Section Image"
    },
    {
      "type": "text",
      "id": "news_primarybt_text",
      "label": "News Section Primary Button Text"
    },
    {
      "type": "url",
      "id": "news_primarybt_url",
      "label": "News Section Primary Button Url"
    }
  ],
  "presets": [
    {
      "name": "ComicHive Newsletter Section"
    }
  ]
}
{% endschema %}
