{% comment %}
  Title: ComicHive FAQ
  Description: FAQ on contact page
{% endcomment %}

<section class="max-lg:max-w-full max-w-[760px] mx-auto my-[40px] max-lg:px-[30px] px-[15px] mb-[80px]">
    <h1>{{ section.settings.faq_title }}</h1>
    <p class="my-[20px]">{{ section.settings.faq_description }}</p>

        {% for block in section.blocks %}
            <div class="">
                <div class="border-b border-[#252827]/20 mb-[20px]">
                    <button class="accordion-toggle w-full flex justify-between items-center text-left cursor-pointer">
                        <h2>{{ block.settings.row_title }}</h2>
                        <span class="transition-transform transform rotate-0 text-[#EDC032] text-[14px]">▼</span>
                    </button>
                    <p class="accordion-content hidden py-[20px]">{{ block.settings.row_description }}</p>
                </div>
            </div>
        {% endfor %}

</section>

<script>
    // SCRIPTS FOR ACCORDION
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".accordion-toggle").forEach(button => {
            button.addEventListener("click", function () {
                const content = this.nextElementSibling;
                const chevron = this.querySelector("span");
    
                content.classList.toggle("hidden");
                chevron.classList.toggle("rotate-180");
            });
        });
      });
</script>

{% schema %}
{
    "name": "Comichive FAQ",
    "settings": [
        {
            "type": "text",
            "id": "faq_title",
            "label": "FAQ Title",
            "default": "Frequently asked questions"
        },
        {
            "type": "text",
            "id": "faq_description",
            "label": "FAQ Description"
        }
    ],
    "blocks": [
        {
            "type": "faq_row",
            "name": "FAQ Row",
            "settings": [
                {
                    "type": "text",
                    "label": "Row title",
                    "id": "row_title"
                },
                {
                    "type": "text",
                    "label": "Row description",
                    "id": "row_description"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Comichive FAQ"
        }
    ]
}
{% endschema %}